nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover{
    color: red;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

body::before{
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background: url('../static/request_background_2.jfif');
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.request-wrapper{
    transform: translateX(-30px);
    height: 650px;
    width: 600px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    text-align: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.4);
}

form{
    display: flex;
    flex-direction: column;
}

h1{
    color:white;
}

.class{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    border-bottom: 2px solid white;
}

.flex input{
    flex:1;
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-field{
    position: relative;
    margin: 15px 0;
    border-bottom: 2px solid white;
}

.input-field input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

p{
    font-size: 16px;
    color: white;
}

input[type="date"],
input[type="time"] {
    filter: invert(1);
}

button {
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 3px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background: rgba(255, 255, 255, 0.15);
    color: white;
    border-color: white;
}

label{
    color: white;
    font-size: 15px;
}

select {
    background-color: transparent;
    color: white;
}

select option {
    color: black; /* Might not work on Apple devices */
    background-color: white;
}

input::placeholder{
    color: white;
}