nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 10px;
}

nav a:hover{
    color: red;
}

body{
    background-color: rgb(230, 229, 228);
    font-family: Tahoma;
    padding-top: 20px;
}

.container{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: left;
    border: none;
}

th {
    background-color: red;
    color: white;
}

tr + tr td {
    border-top: 1px solid #ccc;
}

table tr:not(:last-child) td {
    border-bottom: none;
}

table tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}