<html>
    <head>
            <title>WCU Room Scheduler</title>
            <link href="../static/home.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/gym">Paul Wright Gym</a></li>
                    <li><a href="/crawford">Crawford</a></li>
                    <li><a href="/borick">Borick</a></li>
                    <li><a href="/hurst">Hurst</a></li>
                    <li><a href="/taylor">Taylor</a></li>
                    <li><a href="/rady">Rady</a></li>
                    <li><a href="/quigley">Quigley</a></li>
                    <li><a href="/kelly">Kelley</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <h1 id="title">Western Colorado University Room Scheduler</h1>
    </body>
</html>