<html>
    <head>
        <title>Paul Wright Gym</title>
        <link href="../static/gym.css" type="text/css" rel="stylesheet">
        <script src="../static/calendar.js"></script>

    </head>
    <body>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/gym">Paul Wright Gym</a></li>
                    <li><a href="/crawford">Crawford</a></li>
                    <li><a href="/borick">Borick</a></li>
                    <li><a href="/hurst">Hurst</a></li>
                    <li><a href="/taylor">Taylor</a></li>
                    <li><a href="/rady">Rady</a></li>
                    <li><a href="/quigley">Quigley</a></li>
                    <li><a href="/kelly">Kelly</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <h1 id="title">Paul Wright Gym</h1>
        <br>
        <div class="container">
            <div class="sidebar"> 
                <div class="entires">
                    <input type="checkbox" value="test">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="holder">
                <div class="calendar">
                    <header>
                        <div id="yearControls" class="controls">
                            <button id="prevYear"><</button>
                            <div id="currentYear"></div>
                            <button id="nextYear">></button>
                        </div>
            
                        <div id="monthControls" class="controls">
                            <button id="prevMonth"><</button>
                            <div id="currentMonth"></div>
                            <button id="nextMonth">></button>
                        </div>
                    </header>
        
                    <div class="days_of_week">
                        <span>Sun</span>
                        <span>Mon</span>
                        <span>Tue</span>
                        <span>Wed</span>
                        <span>Thu</span>
                        <span>Fri</span>
                        <span>Sat</span>
                    </div>
                    <div id="calendarGrid" class="calendar-grid"></div>
                </div>
            </div>
        </div>
    </body>
</html>