<html>
    <head>
        <title>Hurst Hall</title>
        <link href="../static/hurst.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/gym">Paul Wright Gym</a></li>
                    <li><a href="/crawford">Crawford</a></li>
                    <li><a href="/borick">Borick</a></li>
                    <li><a href="/hurst">Hurst</a></li>
                    <li><a href="/taylor">Taylor</a></li>
                    <li><a href="/rady">Rady</a></li>
                    <li><a href="/quigley">Quigley</a></li>
                    <li><a href="/kelly">Kelly</a></li>
                </ul>
            </nav>
        </div>
        <br>
        <br>
        <h1 id="title">Hurst Hall</h1>
        <br>
        <div class="container">
            <div class="box">
                <table id="calendar">
                    <thead>
                        <tr>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saterday</th>
                            <th>Sunday</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                            <th>11</th>
                            <th>12</th>
                            <th>13</th>
                            <th>14</th>
                        </tr>
                        <tr>
                            <th>15</th>
                            <th>16</th>
                            <th>17</th>
                            <th>18</th>
                            <th>19</th>
                            <th>20</th>
                            <th>21</th>
                        </tr>
                        <tr>
                            <th>22</th>
                            <th>23</th>
                            <th>24</th>
                            <th>25</th>
                            <th>26</th>
                            <th>27</th>
                            <th>28</th>
                        </tr>
                        <tr>
                            <th>29</th>
                            <th>30</th>
                            <th>31</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>