<html>
    <head>
        <title>Room Request</title>
    </head>
    <body>
        <h1>WELCOME TO ROOM REQUEST</h1>
        <form method="POST" action="gym.html">
            Name: <input type="text">
            <br>
            Type: <fieldset>
                <input type="radio"> Student
                <input type="radio"> Staff/Factulty
                <input type="radio"> Other
            </fieldset>
            <br>
            Event Date: <input type="date">
            <br>
            Event Name: <input type="text">
            <br>
            Start Time: <input type="time">
            <br>
            End Time: <input type="time">
            <br>
            Email: <input type="email">
            <br>
            <h1>Room Requested</h1>
            <br>
            <input type="radio" value="GYM 201"> GYM 201

        </form>
    </body>
</html>