<html>
    <head>
        <title>DB insert data test</title>
    </head>
    <body>
        <a href="/home">Home</a>
        <h1>Testing Data read and insert</h1>

        <table border="1">
            <thead>
                <tr>
                    {% if new_data %}
                        {% for column in new_data[0].keys() %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if new_data %}
                    {% for row in new_data %}
                        <tr>
                            {% for key, value in row.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="9">No data available</td></tr>
                {% endif %}
            </tbody>
        </table>
    </body>
</html>